
.button {
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.secondary {
    background: var(--white);
    border: 2px solid var(--light-blue);
    box-shadow: 0 0 10px var(--light-blue);
}

.secondary:hover {
    background: var(--light-blue); 
    box-shadow: 0 0 20px var(--light-blue);
    color: var(--white); 
}
