.header {
  background-color: var(--white); 
  padding: 1rem;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  border-bottom: 4px solid var(--dark-blue); 
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  gap: 1rem;
  justify-content: flex-start; 
  align-items: center;
}

.nav a {
  color: var(--dark-blue); 
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: var(--orange);
}

.button {
  background: none;
  border: 2px solid var(--orange); 
  color: var(--dark-blue); 
  padding: 0.5rem 1rem;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 0.5rem; 
}

.button:hover {
  background-color: var(--light-blue); 
  color: var(--dark-blue); 
}
